$main-color: #0984e3;
$secondary-color: #606060;
$main-font: 'Inter', sans-serif; /* Geral */
$secondary-font: 'Source Serif Pro', serif; /* Textinhos */

@import './main/reset', './main/grid', './main/header', './main/footer', './main/nav', './main/aside', './main/main';
// produtos
@import './main/produtosStyle';
// contato
@import './main/contatoStyle';

@media (max-width: 800px) {
    section.secFather.container{
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
}



