aside{
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: .15rem solid #60606099;
    ul li{
        padding-bottom: .5rem;
        cursor: pointer;
        h3{
            font: {
                size: 1.15rem;
                weight: 500;
            };
            line-height: 1.875rem;
            color: #f6f6f6;
            background-color: #2b2b2b;
            padding: .25rem 3.5rem .25rem .75rem;
            text-align: left;
        }
        p {

            margin-left: 1rem;
            color: #606060;
            font: {
                size: 1.15rem;
            }
            line-height: 1.5rem;
            &:hover{
                color: #111111;
            }
        }
    }
}
/*
@media (max-width: 800px) {
    aside.grid-3{
        
    }
}
*/