footer{
    margin-top: .75rem;
    position: relative;
    top: calc(50vh + 20%);
    background-color: #2b2b2b;
    height: 5rem;
    section.container{
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #f6f6f6;
        h4{
            font: {
                size: 1.5rem;
                weight: 500;
            };
            line-height: 2.5rem;
        }
        p{
            font: {
                family: $secondary-font;
                size: .9rem;
                weight: 400;
            };
            line-height: 1.5rem;
        }
    }
}

@media (max-width: 800px) {
    footer{
        section.container{

            max-width: 95vw;
            width: 100%;
            padding: 0rem;
            border-right: none;       
        }

    }
}