main{
    padding: 0 1rem;
    section.breadcrumbs{
        background-color: #48dbfb15;
        border-radius: .15rem;
        padding: .5rem;
        span{
            color: #2980b9;
        }
    }

    section.main{
        margin-top: 1rem;
        font-size: 3rem;
    }
}